h1 {
  margin-bottom: 0%;
}
hr{
  margin-top: 0px;
  width: 100%;
  height: 2px;
  background-color: #919191;
  border: none; /*on supprime le style par défaut*/
}
.cod {
  border-left: 1px solid #919191;
  border-right: 1px solid #919191;
}
h2 {
  text-decoration: underline;
}
