<div class="container">
  <div class="cod" fxLayout="column">
    <h1><b>{{anime.title}}</b></h1>
    <h2 style="color: #738695"><b>{{anime.title_japanese}}</b></h2>
    <hr>
    <div fxLayout="row">
      <div fxLayout="column">
      <img src="{{anime.image_url}}">
        <p style="margin-top: 10px"><b> First Premiered : </b>{{anime.premiered}}</p>
        <p><b> Broadcast: </b>{{anime.broadcast}} </p>
      </div>
      <div fxLayout="column" style="margin-left: 2%">
        <p style="font-size: 20px" class="score"><b>Score : </b><span style="background-color: #ffd740">{{anime.score}} / 10</span></p>
        <p><b>Type : </b>{{anime.type}}
           <b style="margin-left: 20px">Status : </b>{{anime.status}}
           <b style="margin-left: 20px">Age : </b>{{anime.rating}}
        </p>
        <h2>Synopsis</h2>
        <p> {{anime.synopsis}}</p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <app-youtube-player [videoId]="anime.trailer_url | videoId"></app-youtube-player>
    </div>
  </div>
</div>
