.slider-container{
  margin-left: 10%;
  width: 80%;
  padding: 20px;
  margin-top: 10px;
}
.separator {
  margin-bottom: 20px;
  display: flex;
  align-items: center
}

.separator-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.flexed-line {
  flex: 1;
  border-bottom: 1px solid #9e9e9e;
  margin-left: 12px;
  border-radius: 8px
}

.separator-actions-button{
  font-size: 40px;
}

.separator-actions-button:hover {
  transform: translateY(-2px)
}

.separator-actions-button:first-child {
  margin-left: 16px;
  margin-right: 16px
}


