<H1>Top movies per score</H1>
<div class="mat-elevation-z8" >

  <table>
    <tr *ngFor="let item of topMovie | paginate: { itemsPerPage: 50, currentPage: p,  totalItems: 1000  }" class="border_bottom">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="rank">
        <td mat-cell> {{item.rank}} </td>
      </ng-container>

      <ng-container matColumnDef="imageUrl">
        <td mat-cell> <img src="{{item.image_url}}" /> </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <td mat-cell> {{item.start_date}} - {{item.end_date}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <td mat-cell><a [routerLink]="['../detail',item.mal_id]">{{item.title}} </a></td>
      </ng-container>


      <ng-container matColumnDef="score">
        <td mat-cell> {{item.score}} </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)">
  </pagination-controls>
</div>
